extends layout

block content
    h1= title
    p Welcome 2 #{title}
    p= message
    div.container
        if result.length != 0
            - each item in result
                div.item #{item.name} 
                a(href="#{item.id}") details
                div.item ID: #{item.id}
        else
            div.error geen entities beschikbaar