<%- include partials/_header.ejs %>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span><%=: title | trans %></h1>
        <a href="/logout" class="btn btn-default btn-sm"><%=: 'nav.toLogout' | trans %></a>
        <a href="/race" class="btn btn-default btn-sm"><%=: 'nav.toAllRaces' | trans %></a>
    </div>

    <div class="row">
        <br />
        <h1 class="centered text-center"><%=: 'profile.accountInfo' | trans %></h1>
        <hr />
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-user"></span> <%=: 'profile.local' | trans %></h3>
                </div>
                <div class="panel-body">
                    <% if (user.local && user.local.email) { %>
                        <strong><%=: 'attributes.email' | trans %></strong>: <%= user.local.email %><br />
                    <% } else { %>
                        <strong><%=: 'profile.notConnected' | trans %></strong><br />
                    <% } %>
                </div>
                <div class="panel-footer">
                    <strong><%=: 'attributes.apiToken' | trans %></strong>: <%= user.local.token %><br />
                </div>
            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-google-plus"></span> <%=: 'profile.googleAcc' | trans %></h3>
                </div>
                <div class="panel-body">
                    <% console.log(user.google) %>
                    <% if (user.google && user.google.name) { %>
                        <p>
                            <strong><%=: 'attributes.email' | trans %></strong>: <%= user.google.email %><br>
                            <strong><%=: 'attributes.name' | trans %></strong>: <%= user.google.name %>
                        </p>
                    <% } else { %>
                        <strong><%=: 'profile.notConnected' | trans %></strong><br />
                        <a href="/auth/google/authorize" class="btn btn-primary"><%=: 'profile.linkGoogle' | trans %></a>
                    <% } %>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-6">
            <br />
            <h1 class="centered text-center"><%=: 'profile.ownedRaces' | trans %></h1>
            <hr />
            <div id="ownedRacesContainer">

            </div>
        </div>

        <div class="col-lg-6">
            <br />
            <h1 class="centered text-center"><%=: 'profile.participatingRaces' | trans %></h1>
            <hr />
            <div id="participatingRacesContainer">

            </div>
        </div>
    </div>

</div>
<%- include partials/_scripts.ejs %>
<script src="/javascripts/profile.js"></script>
<script>
    userId = '<%- user._id %>';
</script>
<%- include partials/_footer.ejs %>