<!doctype html>
<html>
<head>
    <title>Race details</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Race Details</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/race" class="btn btn-default btn-sm">Races page</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (race) { %>
                    <p>
                        <strong>Naam</strong>: <%= race.name %><br>
                        <strong>Eigenaar</strong>: <%= race.ownerID %><br>
                        <strong>Starttijd</strong>: <% if (race.dateStart) { %> <%= race.dateStart %> <% } else { %> Race is nog niet gestart <% } %> <br>
                        <strong>Stoptijd</strong>: <% if (race.dateStop) { %> <%= race.dateStop %> <% } else { %> Race is nog niet gestopt <% } %> <br>
                    </p>
                <% } else { %>
                    Deze race bestaat niet.
                <% } %>

            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger">Deelnemers</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (deelnemers) { %>
                
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>Waypoints behaald</b></td>
                        </tr>
                    <% for(var i=0; i < deelnemers.length; i++) { %>
                        <tr>
                            <td><%= deelnemers[i].local.email %></td>
                            <td><%= deelnemers[i].waypointsCompleted.length %></td>
                            <% if (deelnemers[i].latestCompleteDate) { %>
                                <td><%= deelnemers[i].latestCompleteDate %></td>
                            <% } else { %>
                                <td>nog geen tijd beschikbaar.</td>
                            <% } %>
                        </tr>
                    <% } %>
                    </table>
                    
                <% } else { %>
                    Geen deelnemers.
                <% } %>

            </div>
        </div>

    </div>

</div>
</body>
</html>