<!doctype html>
<html>
<head>
    <title>Race details</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Race Edit</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/race" class="btn btn-default btn-sm">Races page</a>
    </div>

    <div class="row">
    
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (race) { %>
                    <p>
                        <strong>Naam</strong>: <%= race.name %><br>
                        <strong>Eigenaar</strong>: <%= race.ownerID %><br>
                        <strong>Starttijd</strong>: <% if (race.dateStart) { %> <%= race.dateStart %> <% } else { %> Race is nog niet gestart <% } %> <br>
                        <strong>Stoptijd</strong>: <% if (race.dateStop) { %> <%= race.dateStop %> <% } else { %> Race is nog niet gestopt <% } %> <br>
                        <form action="/race/<%= race._id %>/start" method="post">
                            <button type="submit" class="btn btn-primary">Start race</button>
                        </form>
                        <form action="/race/<%= race._id %>/stop" method="post">
                            <button type="submit" class="btn btn-primary">Stop race</button>
                        </form> <br>
                    </p>
                        <button id="deletebutton" class="btn btn-primary">Delete race</button>
                    <p>
                    
                    </p>
                <% } else { %>
                    Deze race bestaat niet.
                <% } %>

            </div>
        
            <div class="well">
                <td><form action="/race/<%= race._id %>/addplaces/" method="post">
                    
                    <div class="form-group">
                        <label>Zoekopdracht</label>
                        <input type="text" class="form-control" name="query">
                    </div>
                    
                    <div class="form-group">
                        <label>Radius</label>
                        <input type="text" class="form-control" name="rad">
                    </div>
                    
                    <div class="form-group">
                        <label>lon</label>
                        <input type="text" class="form-control" name="lon">
                    </div>
                    
                    <div class="form-group">
                        <label>lat</label>
                        <input type="text" class="form-control" name="lat">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Zoek</button>
                </form></td>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger">Deelnemers</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (deelnemers) { %>
                
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>Waypoints behaald</b></td><td><b>Tijd laatste checkpoint</b></td>
                        </tr>
                    <% for(var i=0; i < deelnemers.length; i++) { %>
                        <tr>
                            <td><%= deelnemers[i].local.email %></td>
                            <td><%= deelnemers[i].waypointsCompleted.length %></td>
                            <% if (deelnemers[i].latestCompleteDate) { %>
                                <td><%= deelnemers[i].latestCompleteDate %></td>
                            <% } else { %>
                                <td>nog geen tijd beschikbaar.</td>
                            <% } %>
                        </tr>
                    <% } %>
                    </table>
                <% } else { %>
                    Geen deelnemers.
                <% } %>
            </div>
        
            <div class="well">
                <h3 class="text-danger">Waypoints</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (waypoints) { %>
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>adres</b></td>
                        </tr>
                    <% for(var i=0; i < waypoints.length; i++) { %>
                        <tr>
                            <td><%= waypoints[i].place.name %></td>
                            <td><%= waypoints[i].place.vicinity %></td>
                        </tr>
                    <% } %>
                    </table>
                <% } else { %>
                    Geen waypoints.
                <% } %>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#deletebutton").click(function(){

            $.ajax({
                type: 'DELETE',
                url: '/api/race/<%= race._id %>',
                success: function(data) {
                    window.location.href="/race";
                }
            });
        });
    });
</script>

</body>
</html>