<!doctype html>
<html>
<head>
    <title>Race details</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>

<script>
    var connection = new WebSocket('ws://localhost:9091');
    
    connection.onmessage = function(event) {
        document.getElementById('result').value=event.data;
    }
</script>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Race Details</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/race" class="btn btn-default btn-sm">Races page</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (race) { %>
                    <p>
                        <strong>Naam</strong>: <%= race.name %><br>
                        <strong>Eigenaar</strong>: <%= race.ownerID %><br>
                        <strong>Starttijd</strong>: <% if (race.dateStart) { %> <%= race.dateStart %> <% } else { %> Race is nog niet gestart <% } %> <br>
                        <strong>Stoptijd</strong>: <% if (race.dateStop) { %> <%= race.dateStop %> <% } else { %> Race is nog niet gestopt <% } %> <br>
                    </p>
                <% } else { %>
                    Deze race bestaat niet.
                <% } %>

            </div>
            
            <div class="well">
                <output type=text id="result" value="" readonly> </output>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger">Deelnemers</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (deelnemers) { %>
                
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>Waypoints behaald</b></td>
                        </tr>
                    <% for(var i=0; i < deelnemers.length; i++) { %>
                        <tr>
                            <td><%= deelnemers[i].local.email %></td>
                            <td><%= deelnemers[i].waypointsCompleted.length %></td>
                            <td><%= deelnemers[i].latestCompleteDate %></td>
                        </tr>
                    <% } %>
                    </table>
                    
                <% } else { %>
                    Geen deelnemers.
                <% } %>

            </div>

            <div class="well">
                <h3 class="text-danger">Onbehaalde Waypoints</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (uncompWaypoints) { %>
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>adres</b></td>
                        </tr>
                    <% for(var i=0; i < uncompWaypoints.length; i++) { %>
                        <tr>
                            <td><%= uncompWaypoints[i].place.name %></td>
                            <td><%= uncompWaypoints[i].place.vicinity %></td>
                            <td><form action="/race/<%= race._id %>/waypoint/complete/<%= deelnemer._id %>/<%= uncompWaypoints[i]._id %>" method="post">
                                    <button onclick='connection.send("<%= race._id %>" + " Speler " + "<%= user.local.email %>" + " heeft zich op checkpoint " + "<%= uncompWaypoints[i].place.vicinity %>" + " aangemeld.");' type="submit" class="btn btn-primary">Complete</button>
                            </form></td>
                        </tr>
                    <% } %>
                    </table>
                <% } else { %>
                    Geen waypoints.
                <% } %>
            </div>
            
            <div class="well">
                <h3 class="text-danger">Behaalde Waypoints</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (compWaypoints) { %>
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>adres</b></td> <td><b>behaald op</b></td>
                        </tr>
                    <% for(var i=0; i < compWaypoints.length; i++) { %>
                        <tr>
                            <td><%= compWaypoints[i].place.name %></td>
                            <td><%= compWaypoints[i].place.vicinity %></td>
                            <td><%= compWaypoints[i].dateCompleted %></td>
                        </tr>
                    <% } %>
                    </table>
                <% } else { %>
                    Geen waypoints.
                <% } %>
            </div>

    </div>

</div>

</body>
</html>