<!doctype html>
<html>
<head>
    <title>My races</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Race list</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                
                <form action="/race" method="post">
                    <div class="form-group">
                        <label>Naam</label>
                        <input type="text" class="form-control" name="name">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Nieuw</button>
                </form>

            </div>
        </div>
        
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3>Mijn races list</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (myraces) { %>
                
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>Eigenaar</b></td>
                        </tr>
                    <% for(var i=0; i < myraces.length; i++) { %>
                        <tr>
                            <td><%= myraces[i].name %></td>
                            <td><%= myraces[i].ownerID %></td>
                        </tr>
                    <% } %>
                    </table>

                    <a href="/unlink/google" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-primary">Connect Google</a>
                <% } %>

            </div>
            
            <div class="well">
                <h3>Deelnemend aan races list</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (deelnemendraces) { %>
                
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>Eigenaar</b></td>
                        </tr>
                    <% for(var i=0; i < deelnemendraces.length; i++) { %>
                        <tr>
                            <td><%= deelnemendraces[i].name %></td>
                            <td><%= deelnemendraces[i].ownerID %></td>
                        </tr>
                    <% } %>
                    </table>

                    <a href="/unlink/google" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-primary">Connect Google</a>
                <% } %>

            </div>
            
            <div class="well">
                <h3>Alle races</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (races) { %>
                
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>Eigenaar</b></td>
                        </tr>
                    <% for(var i=0; i < races.length; i++) { %>
                        <tr>
                            <td><%= races[i].name %></td>
                            <td><%= races[i].ownerID %></td>
                        </tr>
                    <% } %>
                    </table>

                    <a href="/unlink/google" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-primary">Connect Google</a>
                <% } %>

            </div>
            
        </div>

    </div>

</div>
</body>
</html>