extends layout

block content
    h1= title
    p Welcome op de stats pagina
    p= message
    div.container
        if result.length != 0
            - each item in result
                div.item RaceID: #{item.raceID} UserID: #{item.userID} WaypointID: #{item.waypointID} Tijd: #{item.dateCreate}
        else
            div.error geen stats beschikbaar