extends layout

block content
    h1= title
    p Welcome op de users pagina
    p= message
    div.container
        if result.length != 0
            - each item in result
                div.item Username: #{item.username} Voornaam: #{item.name} Achternaam: #{item.lastname}
        else
            div.error geen users beschikbaar