extends layout

block content
    h1= title
    p Welcome op de waypoints pagina
    p= message
    div.container
        if result.length != 0
            - each item in result
                div.item ID: #{item.id} & Naam: #{item.name} Coordinaten: #{item.coordinates}
        else
            div.error geen waypoints beschikbaar